@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@import '~variables';

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $--color-grey-94;
}

a {
    text-decoration: none;

    &:visitet {
    }
}
